.clk-image {
    object-fit: cover;
    width: 75%;
    height: 70px;
 }

 .title-card  {
     font-size:  small;
     color: darkslategrey;
     font-weight: bold;
     font-style: oblique;
 }

 .card-image {
     width: 100px !important;
     height: 120px;
     padding: 0.5em;
     background-color:paleturquoise;
 }

 .card-active {
    border-color: midnightblue;
 }

.card-hover:hover {
    border-color: midnightblue;
}


.border-map {
    border: 50 px solid;
    border-color: black;
}
