<div class="container ">
    <div class="row center-cols">

        <div class="row"></div>

        <div class="col-md-6 col-sm-6 contact-square border-mobile">
            <span class="title-card">Apex Downtown</span>
            <img class="clk-image" src="assets/apexdt-front.PNG" name="Apex Downtown">
            <div class="text-contact">
                <p class="force-select">
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon> 1827 Rue Sainte-Catherine O, Montréal, QC H3H 1M2
                </p>
                <p class="force-select">
                    <fa-icon [icon]="faPhone"></fa-icon> +15145285000
                </p>
                <p class="force-select">
                    <fa-icon [icon]="faEnvelope"></fa-icon> apexmuaythai@hotmail.com
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 contact-square border-mobile">
            <span class="title-card">Apex Ville Saint-Laurent</span>
            <img class="clk-image" src="assets/apexvsl-front.PNG" name="Apex VSL">
            <div class="text-contact">
                <p class="force-select">
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon> 750 Boulevard Décarie, Saint-Laurent, QC H4L 3L5
                </p>
                <p class="force-select">
                    <fa-icon [icon]="faPhone"></fa-icon> +15147488717
                </p>
                <p class="force-select">
                    <fa-icon [icon]="faEnvelope"></fa-icon> apexmuaythai@hotmail.com
                </p>
            </div>

        </div>
    </div>
</div>

<div class="d-flex mt-4 mb-4 container margin-auto justify-content-center">
    <div class="border border-2 embed-responsive-item map-mapbox" id='map'></div>

</div>
<div class="contact-square-buttons mb-4"> <button class="btn btn-dark mr-1" (click)="displayDT()">Downtown</button>

    <button class="btn btn-dark ml-1" (click)="displayVSL()"> VSL</button></div>