<div class="login-form">
  <form >
    <h2 class="text-center">Create an account</h2>
    <div class="form-group">
      <input type="text" [(ngModel)] = "name" class="form-control" name="name" placeholder="Name and Surname" required="required">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)] = "email" class="form-control" name="email" placeholder="Email" required="required">
    </div>
    <div class="form-group">
      <input type="password" [(ngModel)] = "password" name="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <button  (click)="createAccount()" type="submit" class="btn btn-primary btn-block">Create</button>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <label class="pull-left checkbox-inline">
        <input type="checkbox"> Remember me</label>
      <a href="forgot-password" class="pull-right">Forgot Password?</a>
    </div>
    <hr class="my-4">
    <button (click)="authService.googleAuth()" class="btn btn-md btn-google btn-block text-uppercase" type="submit"> Sign in with Google</button>
  </form>
  <p class="text-center"><a href="sign-in">Login instead</a></p>
</div>

<div class="col-5 alert alert-secondary login-messages" role="alert">
  <ul>
    <li>
      Login to access to resources and reservations.
    </li>
    <li>
      Your account has to be approved by an Apex Member before you gain access to all features.</li>
  </ul>
</div>
