<!-- Bootstrap core CSS -->
<div>

  <video id="vid" autoplay [muted]="true" loop class="myVideo">
    <source src="assets/ooo.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>

<div (click)="scrollToElement()" class="p-3 overflow-hidden p-md-5 m-md-3 text-center first-page">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="title-video font-weight-normal">APEX Muay Thai</h1>
    <p class="text-video lead font-weight-normal">Our mission is to develop CHAMPIONSHIP CALIBER women and men who can
      perform
      under pressure both in and out of the ring.</p>
    <div class=" btn-outline-light">
      <fa-icon [icon]="faArrowCircleDown"></fa-icon>
    </div>
  </div>
</div>


<div class="filler-full"></div>

<div class="first-message black p-3 ">
  <div class="text-first-message col-md-5  ">
    <p class="title-text-first-message">Welcome</p><br><br>
    <p>We understand that everyone trains for their own <b>Reasons</b> and with their own <b>Goals</b>.</p><br><br>
    <p>Our job is to create the best <b>Martial Arts Environment</b> possible to help you reach those goals.</p>
    <br><br>
    <p> We take the time to know every student so we can tailor a <b>Program</b> to get the best results
      for each <b>Individual.</b></p>

  </div>
</div>

<div class="image-girl white"> <img class="center-image img-fluid" src="assets/APEX_Community.jpg" alt="Apex"></div>

<div id="welcome" class="first-message black">
  <div class="text-first-message col-md-5">
    <p class="title-text-first-message">APEX isn't a gym
      it's a community</p><br><br>
    <p>You’re joining a dynamic environment where the coaches and students will push you harder and further than you
      could ever go alone.
    </p><br><br>
    <p> We’re a team. We’re a family.</p><br><br>
    <p>When one fights, we’re all fighting with them. When one succeeds, we all succeed together!</p>

  </div>
</div>


<div class="image-girl white"> <img class="center-image img-fluid" src="assets/kick-apex.jpg" alt="Apex"></div>

<div class="first-message black">
  <div class="text-first-message col-md-5">
    <p class="title-text-first-message">MUAY THAI</p><br><br>
    <p>There's something special about learning an <b>ancient art that is still so relevant</b> in the world of combat
      sports today. <br>
      Muay Thai is in our opinion the <b>ultimate striking style</b>.
    </p><br><br>
    <p> Ferocious elbows and knees, powerful punches and kicks, once you get a taste for <b>the 8 weapons of Muay
        Thai</b>, nothing else really compares.</p><br><br>
    <p>Come try a free class and see how it feels to be a part a team so committed to excellence.</p>

  </div>
</div>


<div class="image-girl white"> <img class="center-image img-fluid" src="assets/knee-girl.jpeg" alt="Apex"></div>

<div class="first-message black">
  <div class="text-first-message col-md-5">
    <p class="title-text-first-message">GET FIT AND TONE UP</p><br><br>

    <p> At APEX we know fitness.<br> Get a fun workout!</p><br><br>

    <p><b>Cardio</b></p>
    <p><b>Strength</b></p>
    <p><b>Flexibility</b></p>
    <p><b>Weight Loss</b></p>
    <br><br>

    <p> You'll learn some basics in self defense while working towards all your fitness goals! </p>

  </div>
</div>

<div class="image-girl white"> <img class="center-image img-fluid" src="assets/APEX_Fitness-girls.jpg" alt="Apex"></div>