.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .myVideo {
    background-position: center;
    background-repeat: no-repeat;

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .first-page {
    min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    min-width: 100%;
    z-index: -1;
  }  

  .filler-full {
    min-height:100vh;
  }
  
  .filler-30 {
    min-height:30vh;
  }

  .black {
    background-color: black;
  } 
  
  .white {
    background-color: white;
  }

  .first-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 60vh;
    min-width: 100%;
  }

  .text-first-message {
    color: rgb(209, 202, 202);
    font-size: large;

  }

  .image-girl {
      height:auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
  }

  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .title-video{
      padding-top: 100px;
      color: white;
      font-size: 3.4em;
    } 

  .text-video{
    padding-top: 70px;
      color: white;
      font-size: 1.6em;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
     .title-video{
      padding-top: 100px;
      color: white;
      font-size: 1.5em;
    }
    
    .text-video{
      padding-top: 100px;
      color: white;
      font-size: 1em;
    }   
}
