<!-- Bootstrap core CSS -->
<div>

  <video id="vid" autoplay [muted]="true" loop class="myVideo">
    <source src="assets/ooo.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>

<div class="p-3 overflow-hidden p-md-5 m-md-3 text-center first-page">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="title-video font-weight-normal">Apex Muay Thai</h1>
    <p class="text-video lead font-weight-normal">Our mission is to develop CHAMPIONSHIP CALIBER women and men who can
      perform
      under pressure both in and out of the ring.</p>
    <a class="btn btn-outline-light" href="#">More</a>
  </div>
</div>


<div class="filler-full"></div>

<div style="width: 100%;" class="black">
  <div class="first-message p-3 ">
    <div class="text-first-message col-md-5 p-lg-5  ">
      <H1>Welcome</H1><br><br>
      <p>We understand that everyone trains for their own <b>Reasons</b> and with their own <b>Goals</b>.</p><br><br>
      <p>Our job is to create the best <b>Martial Arts Environment</b> possible to help you reach those goals.</p>
      <br><br>
      <p> We take the time to know every student so we can tailor a <b>Program</b> to get the best results
        for each <b>Individual.</b></p>

    </div>
  </div>
</div>

<div class="image-girl white"> <img  class="img-fluid" src="assets/knee-girl.jpeg" alt="Apex"></div> 

<div class="first-message black">
  <div class="text-first-message col-md-5 p-lg-5  ">
    <H1>Welcome</H1><br><br>
    <p>We understand that everyone trains for their own <b>Reasons</b> and with their own <b>Goals</b>.</p><br><br>
    <p>Our job is to create the best <b>Martial Arts Environment</b> possible to help you reach those goals.</p><br><br>
    <p> We take the time to know every student so we can tailor a <b>Program</b> to get the best results
      for each <b>Individual.</b></p>

  </div>
</div>


<div class="filler-full black"></div>