.container {
    max-width: 800px;
  }

  /*
   * Custom translucent site header
   */

  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: white;
  } 

  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .nav-title {
    color: #ffffff;
    font-size: 1.3em;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .nav-title {
    color: #ffffff;
    font-size: 0.8em;
  }
}

.rounded-logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.rounded-logo-user{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.login-container {
  float: right;
}

.hide-login {
  display: none;
}

.show-login {
  display: block;

}

.crossed {
  text-decoration: line-through;
}

  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */

  .product-device {
    width: 300px;
    height: auto;
  }

  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  /*
   * Extra utilities
   */

  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  .p-bottom {
    padding-bottom: 50px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
}
 