  <nav class=" navbar site-header navbar-expand-lg navbar-dark bg-dark ">
    <a class=" py-2 navbar-brand" href="home" aria-label="Product">
      <img class="rounded-logo" src="assets/apex.jpg" alt="Apex">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="container d-flex flex-column flex-md-row navbar-nav mr-auto justify-content-between">
        <li class="nav-item active">
          <a class="d-md-inline-block nav-item nav-link active" href="home">Accueil</a>
        </li>

        <li class="nav-item ">
          <a class="d-md-inline-block nav-item nav-link" href="contact">Contact</a>
         </li>

        <li class="nav-item ">
          <a class="d-md-inline-block nav-item nav-link" href="#">Horaires</a>
        </li>

        <li class="nav-item ">
          <a class="d-md-inline-block nav-item nav-link" href="#">Apprentissage</a>
        </li>

        <li class="nav-item ">
          <a class="d-md-inline-block nav-item nav-link" href="#">Reservations</a>
         </li>

      </ul>

    </div>
  </nav>

<router-outlet></router-outlet>
