<div class="row center-cols">


        <form class="form-inline mb-3 mt-5">
            <input class="form-control mr-sm-2" (ngModelChange)="search($event)" name="search-bar" [(ngModel)]="searchInput" type="search" placeholder="Email, DisplayNames" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search User</button>
        </form>
    <div class="col-8 ">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Display Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Role</th>
                        <th scope="col">Creation</th>
                        <th scope="col">Last Sign In</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of searchedUsers;let i = index">
                        <th scope="row">{{i}}</th>
                        <td>{{u.googleUser.email}}</td>
                        <td>{{u.apexUser.displayedName}}</td>
                        <td><span [ngClass]="{'badge':true, 'badge-warning': u.apexUser.status==0, 'badge-success': u.apexUser.status==1,'badge-danger': u.apexUser.status==2 }">{{displayStatus(u.apexUser.status)}}</span></td>
                        <td>
                            <button *ngIf="u.apexUser.status===0 || u.apexUser.status===2"  type="button" (click)="changeStatus(u, 1)" class="btn btn-outline-primary mr-2">Validate</button>
                            <button *ngIf="u.apexUser.status===0 || u.apexUser.status===1" type="button" (click)="changeStatus(u, 2)" class="btn btn-outline-danger">Deny</button>
                        </td>
                        <td>{{u.googleUser.role}}</td>
                        <td>{{u.googleUser.creationTime}}</td>
                        <td>{{u.googleUser.lastSignInTime}}</td>
                    </tr>

                </tbody>
            </table>
    </div>
</div>